<navheader></navheader>

<!-- Dashboard -->

<div class="container-fluid content">
  <div class="row" style="padding-top:30px;">
    <div class="col-sm-12 col-md-4">
      <div class="well">
        <table class="table table-bordered table-style table-responsive">
          <tr>
            <th class="col-md-1"><a href="/dashboard"><span class="fa fa-chevron-left"></span></a></th>
            <th class="col-md-3"> July - 2017
            </th>
            <th class="col-md-1"><a href="/dashboard"><span class="fa fa-chevron-right"></span></a></th>
          </tr>
        </table>
        <br>
        <table class="table table-bordered table-style table-responsive">
          <tr>
            <th>S</th>
            <th>M</th>
            <th>T</th>
            <th>W</th>
            <th>T</th>
            <th>F</th>
            <th>S</th>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
          </tr>
          <tr>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
          </tr>
          <tr>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>
            <td>15</td>
          </tr>
          <tr>
            <td>16</td>
            <td>17</td>
            <td>18</td>
            <td>19</td>
            <td>20</td>
            <td>21</td>
            <td>22</td>
          </tr>
          <tr>
            <td>23</td>
            <td>24</td>
            <td>25</td>
            <td>26</td>
            <td class="today">27</td>
            <td>28</td>
            <td>29</td>
          </tr>
          <tr>
            <td>30</td>
            <td>31</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
          </tr>
        </table>
      </div>
    </div>

<!-- End Calendar -->

      <div class="col-md-4 col-sm-12">
        <div class="well">
		        <div>
      		    <table class="table table-striped">
                <thead>
                  <tr>
                  <h2 align="center">Expiring Insurance</h2><hr>
                  </tr>
                  <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Insurance Expires:</th>
                  </tr>
                </thead>
  		          <tbody>
                  <tr ng-repeat="member in $ctrl.members | orderBy: 'expires'">
                    <td>{{member.first_name}}</td>
                    <td>{{member.last_name}}</td>
                    <td>{{member.expires | date:'MM/dd/yyyy'}}</td>
                  </tr>
    		        </tbody>
    		      </table>
      		  </div>
        </div>
      </div>
<!-- End well 1 -->

      <div class="col-md-4 col-sm-12">
        <div class="well">
            <div>
              <table class="table table-striped">
                <thead>
                  <tr>
                  <h2 align="center">Upcoming Dues</h2><hr>
                  </tr>
                  <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Dues Due On:</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="member in $ctrl.members | orderBy: 'dues_paid'">
                    <td>{{member.first_name}}</td>
                    <td>{{member.last_name}}</td>
                    <td>{{member.dues_paid | date:'MM/dd/yyyy'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
  <!-- End well 2 -->

    </div>
  </div>
</div>


<!-- End Dashboard -->

<navfooter></navfooter>
