<navheader></navheader>

<!-- View Member -->

<div class="container content">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12" style="padding-top:30px;">
      <div class="panel panel-info profile-bkg" ng-repeat="member in $ctrl.members">
        <div class="panel-heading profile-header">
          <h2 class="panel-title">
              <h4><b>{{member.first_name}} "{{member.derby_name}}" {{member.last_name}}</b>
              <a href="/edit-member" class="show-a">Edit Profile  &nbsp;<i class="fa fa-pencil"></i></a>
              </h4>
          </h2>
        </div>
        <div class="panel-body">
          <div class="row">

          <!-- Profile Image -->
            <div class="col-md-3 col-lg-3 " align="center">
              <img alt="User Pic" src="{{member.profile_img}}" class="img-thumbnail img-responsive">
            </div>

            <!-- Contact Information -->
            <div class=" col-md-9 col-lg-9 ">
              <div class="well">
                <table class="table table-user-information">
                  <tbody>
                    <th>Contact Information: </th>
                    <tr>
                      <td>Jersey Number:</td>
                      <td>{{member.jersey_number}}</td>
                    </tr>
                    <tr>
                      <td>League Role(s):</td>
                      <td>
                        <p ng-repeat="role in member.role.type">{{role}}</p>
                      </td>
                    </tr>
                    <tr>
                      <td>Team(s):</td>
                      <td>
                        <p>Hurl Scouts</p>
                      </td>
                    </tr>
                    <tr>
                      <td>Phone Number:</td>
                      <td>{{member.phone}}</td>
                    </tr>
                    <tr>
                      <td>Home Address:</td>
                      <td>
                        <p>{{member.line_1}}</p>
                        <p>{{member.line_2}}</p>
                        <p>{{member.city}}, {{member.state}} {{member.zip}}</p>
                      </td>
                    </tr>
                    <tr>
                      <td>Email</td>
                      <td><a href="mailto:{{member.email}}">{{member.email}}</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

      <!-- Emergency Information -->
          <div class="row">
            <div class="col-md-9 col-md-offset-3">
              <div class="well">
                <table class="table table-user-information">
                  <tbody>
                    <th>Emergency Information: </th>
                    <tr>
                      <td>Emergency Contact Name:</td>
                      <td>{{member.contact_name}}</td>
                    </tr>
                    <tr>
                      <td>Emergency Contact Number:</td>
                      <td>{{member.contact_number}}</td>
                    </tr>
                    <tr>
                      <td>Has Health Insurance:</td>
                      <td>{{member.insured?'Yes':'No'}}</td>
                    </tr>
                    <tr>
                    <td>Insurance Provider Name:</td>
                      <td>{{member.emer_provider_name}}</td>
                    </tr>
                    <tr>
                      <td>Insurance Policy Number:</td>
                      <td>{{member.emer_policy_number}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

      <!-- Skate Requirements -->
          <div class="row">
            <div class="col-md-9 col-md-offset-3">
              <div class="well">
                <table class="table table-user-information">
                  <tbody>
                    <th>Skate Requirements: </th>
                    <tr>
                      <td>Skate Insurance Required:</td>
                      <td>{{member.ins_required?'Yes':'No'}}</td>
                    </tr>
                    <tr>
                      <td>Policy Number:</td>
                      <td>
                        <p>{{member.req_policy_number}}</p>
                      </td>
                    </tr>
                    <tr>
                      <td>Issue Date:</td>
                      <td>{{member.issue_date | date:'MM/dd/yyyy'}}</td>
                    </tr>
                    <tr>
                    <td>Expiration Date:</td>
                      <td>{{member.expires | date:'MM/dd/yyyy'}}</td>
                    </tr>
                    <tr>
                      <td>Eligible to Skate:</td>
                      <td>{{member.eligibility?'Yes':'No'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- End View Member -->

<navfooter></navfooter>
